archive/www-tools-commands-to-be-implemented/ingrammicro/docs/BaseRateRequestV1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:b="urn:schemas-microsoft-com:BizTalkServer"
	 xmlns:d="urn:schemas-microsoft-com:datatypes"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:appinfo b:BizTalkServerEditorTool_Version="1.0" b:root_reference="BaseRateRequest" b:version="1.0" b:standard="XML">
			<b:SelectionFields/>
		</xsd:appinfo>
	</xsd:annotation>

	<!-- Generated by using BizTalk Editor on Tue, Oct 02 2001 01:50:08 PM -->
	<!-- Microsoft Corporation (c) 2000 (http://www.microsoft.com) -->
	<xsd:element name="Version1.0">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name="TransactionID" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Transaction ID</xsd:documentation>
			<xsd:appinfo d:maxLength="18" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransactionHeader">
		<xsd:annotation>
			<xsd:documentation>Transaction Header</xsd:documentation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CountryCode"/>
				<xsd:element ref="LoginID"/>
				<xsd:element ref="Password"/>
				<xsd:element ref="TransactionID" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Suffix" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="2" d:minLength="2" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PostalCode" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="9" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Password" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="10" d:minLength="6" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LoginID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="10" d:minLength="6" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CountryCode" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="2" d:minLength="2" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BranchOrderNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="7" d:minLength="7" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BaseRateRequest">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Version1.0"/>
				<xsd:element ref="TransactionHeader"/>
				<xsd:element ref="BaseRateInformation"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BaseRateInformation">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="BranchOrderNumber"/>
				<xsd:element ref="PostalCode"/>
				<xsd:element ref="Suffix" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>