archive/www-tools-commands-to-be-implemented/ingrammicro/docs/DespatchAdviceV2_0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:b="urn:schemas-microsoft-com:BizTalkServer"
	 xmlns:d="urn:schemas-microsoft-com:datatypes"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:appinfo b:standard="XML" b:root_reference="DespatchAdvice" b:BizTalkServerEditorTool_Version="1.5">
			<b:SelectionFields/>
		</xsd:appinfo>
	</xsd:annotation>

	<!-- Generated by using BizTalk Editor on Tue, Feb 17 2004 11:57:26 AM -->
	<!-- Copyright (c) Microsoft Corporation. All rights reserved. -->
	<xsd:element name="Weight" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>CPS Loop1\PACLoop1\MEA_3 C174_3 C17402</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="18">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UnitOfMeasure" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>CPS Loop1\PACLoop1\MEA_3 C174_3 C17401</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="3">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TotalLinesShipped" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>CNT\ C27002 where C27001 = 2</xsd:documentation>
			<xsd:appinfo d:type="number" d:minLength="1" d:maxLength="18">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SerialNumberHeader">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SerialNumber" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SerialNumber">
		<xsd:annotation>
			<xsd:documentation>LINLoop1\GIN_2\C208_7 C20801 if GIN01 = BN</xsd:documentation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SequenceNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>CPS Loop1/ CPS / CPS01</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="12">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SKUDescription2" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>LINLoop1 \ IMD\ IMD01\ C273\C2734</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SKUDescription1" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>LINLoop1 \ IMD\ IMD01\ C273\C2734</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Product">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Item" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="ManufacturerSKU" minOccurs="0"/>
				<xsd:element ref="CustomerPartNumber" minOccurs="0"/>
				<xsd:element ref="SKUDescription1" minOccurs="0"/>
				<xsd:element ref="SKUDescription2" minOccurs="0"/>
				<xsd:element ref="SerialNumberHeader" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="SKU" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>CPS Loop1 \ LINLoop1 \ LIN C212 \ C21201</xsd:documentation>
					<xsd:appinfo d:minLength="1" d:maxLength="35" d:type="string">
						<b:FieldInfo/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="DespatchQuantity" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>LINLoop1\ QTY_2 C186_2 where C18601 = 12</xsd:documentation>
					<xsd:appinfo d:minLength="1" d:maxLength="6" d:type="string">
						<b:FieldInfo/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PostalCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>NAD NAD08</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="9">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PackageHeader">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="IdentificationHeader" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NumberOfPackages" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>CPS Loop1 ? PAC Loop1 PAC PAC01</xsd:documentation>
			<xsd:appinfo d:type="number" d:minLength="1" d:maxLength="8">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Name" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>NAD C08001</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MeasurementHeader">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="UnitOfMeasure" minOccurs="0"/>
				<xsd:element ref="Weight" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ManufacturerSKU" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>LIN PIA C212_4 C21201</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LineItem">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Product" minOccurs="0"/>
				<xsd:element ref="PackageHeader" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="LineNumber" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>CPS Loop1 \ LINLoop1 \ LIN Lin01</xsd:documentation>
					<xsd:appinfo d:minLength="1" d:maxLength="6" d:type="string">
						<b:FieldInfo/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LineHeader">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="LineItem" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Item">
		<xsd:annotation>
			<xsd:documentation>EN = EANCode  BP = CustomerSKU</xsd:documentation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="Type" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>LIN PIA C212_3 C21201 if C21202 = EN / BP</xsd:documentation>
							<xsd:appinfo d:minLength="1" d:maxLength="35" d:type="string">
								<b:FieldInfo/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IdentificationHeader">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Identification" minOccurs="0"/>
				<xsd:element ref="TrackingURL" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Identification">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="TrackingNumber" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>PCILoop1 / GIN Loop1 / GIN C208_2 C20801</xsd:documentation>
					<xsd:appinfo d:minLength="1" d:maxLength="35" d:type="string">
						<b:FieldInfo/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IMStandard">
		<xsd:annotation>
			<xsd:documentation>Ingram standard for outbound schema</xsd:documentation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IMAccountNumber">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DespatchAdviceNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>BGM C106 C10601</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DespatchAdviceHeader">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="DespatchAdviceNumber" minOccurs="0"/>
				<xsd:element ref="CustomerPO" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DespatchAdvice">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="DespatchAdviceHeader" minOccurs="0"/>
				<xsd:element ref="IMStandard" minOccurs="0"/>
				<xsd:element ref="IMAccountNumber" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="ShipToSuffix" minOccurs="0"/>
				<xsd:element ref="DateHeader" minOccurs="0"/>
				<xsd:element ref="Address" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="ConsignmentHeader" minOccurs="0"/>
				<xsd:element ref="MeasurementHeader" minOccurs="0"/>
				<xsd:element ref="PackageHeader" minOccurs="0"/>
				<xsd:element ref="LineHeader" minOccurs="0"/>
				<xsd:element ref="TotalLinesShipped" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DateHeader">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Date" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Date">
		<xsd:annotation>
			<xsd:documentation>DTM / C507 / C50702</xsd:documentation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:date">
					<xsd:attribute name="Type" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>DTM / C507 / C50701 137 document 11 Despatch 17 delivary</xsd:documentation>
							<xsd:appinfo d:minLength="1" d:maxLength="35" d:type="string">
								<b:FieldInfo/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CustomerPO" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>RFFLoop1/ RFF / C506 / C50602  where C50601 = ON</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CountryCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>NAD NAD09</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="3">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConsignmentHeader">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SequenceNumber" minOccurs="0"/>
				<xsd:element ref="NumberOfPackages" minOccurs="0"/>
				<xsd:element ref="CarrierCode" minOccurs="0"/>
				<xsd:element ref="CarrierName" minOccurs="0"/>
				<xsd:element ref="UniversalScacCode" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="City" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>NAD NAD06</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Attention" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>NAD C08002</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AddressLine4" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="0" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AddressLine3" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>NAD C05903</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="0" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AddressLine2" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>NAD C05902</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="0" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AddressLine1" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>NAD C05901</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="0" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Address">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Name" minOccurs="0"/>
				<xsd:element ref="Attention" minOccurs="0"/>
				<xsd:element ref="AddressLine1" minOccurs="0"/>
				<xsd:element ref="AddressLine2" minOccurs="0"/>
				<xsd:element ref="AddressLine3" minOccurs="0"/>
				<xsd:element ref="AddressLine4" minOccurs="0"/>
				<xsd:element ref="City" minOccurs="0"/>
				<xsd:element ref="State" minOccurs="0"/>
				<xsd:element ref="PostalCode" minOccurs="0"/>
				<xsd:element ref="CountryCode" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Type" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>NAD NAD01 BY customer  SU Shipfrom DP ShipTo</xsd:documentation>
					<xsd:appinfo d:minLength="1" d:maxLength="35" d:type="string">
						<b:FieldInfo/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TrackingURL" type="xsd:string"/>
	<xsd:element name="CarrierCode" type="xsd:string"/>
	<xsd:element name="CarrierName" type="xsd:string"/>
	<xsd:element name="UniversalScacCode" type="xsd:string"/>
	<xsd:element name="CustomerPartNumber" type="xsd:string"/>
	<xsd:element name="State" type="xsd:string"/>
	<xsd:element name="ShipToSuffix" type="xsd:string"/>
</xsd:schema>