archive/www-tools-commands-to-be-implemented/ingrammicro/docs/DTypeOrderRequest2_0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:b="urn:schemas-microsoft-com:BizTalkServer"
	 xmlns:d="urn:schemas-microsoft-com:datatypes"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:appinfo b:standard="XML" b:version="1.0" b:root_reference="DTypeOrderRequest" b:BizTalkServerEditorTool_Version="1.0">
			<b:SelectionFields/>
		</xsd:appinfo>
	</xsd:annotation>

	<!-- Generated by using BizTalk Editor on Tue, Mar 06 2007 12:43:04 PM -->
	<!-- Microsoft Corporation (c) 2000 (http://www.microsoft.com) -->
	<xsd:element name="Version" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VATNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="0" d:maxLength="14">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransactionID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="0" d:maxLength="18">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransactionHeader">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SenderID"/>
				<xsd:element ref="ReceiverID"/>
				<xsd:element ref="CountryCode"/>
				<xsd:element ref="LoginID"/>
				<xsd:element ref="Password"/>
				<xsd:element ref="TransactionID" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Suffix">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ShipToSuffix"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SpecialBidNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SpecialBid">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SpecialBidNumber" minOccurs="0"/>
				<xsd:element ref="RequiredPrice"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ShowDetail" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="boolean">
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipmentOptions">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="BackOrderFlag"/>
				<xsd:element ref="ShipFromBranches"/>
				<xsd:element ref="DeliveryDate" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ShipToSuffix" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="3" d:maxLength="3">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipToProvince" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="2" d:maxLength="2">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipToPostalCode" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="0" d:maxLength="9">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipToCountryCode" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="0" d:maxLength="2">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipToCity" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="21">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipToAttention" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="0" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipToAddress3" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="0" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipToAddress2" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="0" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipToAddress1" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipTo">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="Address"/>
				<xsd:element ref="Suffix"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ShipFromBranches" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="0" d:maxLength="10">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SenderID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="18">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SalesRepName" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="30">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SKU" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="12">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResellerProvince" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="2" d:maxLength="2">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResellerPostalCode" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="0" d:maxLength="9">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResellerPhoneNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="15">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResellerInformation">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo tag_name="ResellerInformation"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SalesRepName"/>
				<xsd:element ref="ResellerContactName"/>
				<xsd:element ref="ResellerPhoneNumber"/>
				<xsd:element ref="ResellerFaxNumber"/>
				<xsd:element ref="ResellerAddress1"/>
				<xsd:element ref="ResellerAddress2"/>
				<xsd:element ref="ResellerCity"/>
				<xsd:element ref="ResellerProvince"/>
				<xsd:element ref="ResellerPostalCode"/>
				<xsd:element ref="ResellerCompanyName"/>
				<xsd:element ref="ResellerEmailAddress"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ResellerFaxNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="15">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResellerEmailAddress" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="3" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResellerContactName" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="30">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResellerCompanyName" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="30">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResellerCity" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="21">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResellerAddress2" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResellerAddress1" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RequiredPrice" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="17">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReceiverID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="18">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Quantity" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="ui2">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Province" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="2" d:maxLength="2">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ProductLine">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SKU" minOccurs="0"/>
				<xsd:element ref="Quantity"/>
				<xsd:element ref="SpecialBid" minOccurs="0"/>
				<xsd:element ref="CustomerLineNumber" minOccurs="0"/>
				<xsd:element ref="CustomerPartNumber" minOccurs="0"/>
				<xsd:element ref="UPC" minOccurs="0"/>
				<xsd:element ref="ManufacturerPartNumber" minOccurs="0"/>
				<xsd:element ref="RequestedPrice" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ProcessingOptions">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CarrierCode"/>
				<xsd:element ref="ShipmentOptions"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PricingLevel" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="0" d:maxLength="1">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PostalCode" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="0" d:maxLength="9">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PhoneNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="15">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Password" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="6" d:maxLength="10">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrderLineInformation">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="ProductLine" minOccurs="0"/>
				<xsd:element ref="CommentLine" minOccurs="0"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OrderHeaderInformation">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="BillToSuffix" minOccurs="0"/>
				<xsd:element ref="AddressingInformation"/>
				<xsd:element ref="ProcessingOptions"/>
				<xsd:element ref="EndUserInformation"/>
				<xsd:element ref="ResellerInformation"/>
				<xsd:element ref="Government" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LoginID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="6" d:maxLength="10">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Government">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="GovProgramType" minOccurs="0"/>
				<xsd:element ref="GovEndUserType"/>
				<xsd:element ref="GovSolicitationNBR"/>
				<xsd:element ref="GovEndUserData"/>
				<xsd:element ref="GovEndUserZip"/>
				<xsd:element ref="GovPublicPrivateSW" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GovSolicitationNBR" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="0" d:maxLength="14">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GovPublicPrivateSW" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="0" d:maxLength="1">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GovProgramType" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="2" d:maxLength="2">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GovEndUserZip" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="0" d:maxLength="9">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GovEndUserType" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="1">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GovEndUserData" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="0" d:maxLength="25">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FaxNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="15">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ExtensionNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="0" d:maxLength="5">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EndUserPO" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="0" d:maxLength="18">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EndUserInformation">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ContactName"/>
				<xsd:element ref="PhoneNumber"/>
				<xsd:element ref="ExtensionNumber" minOccurs="0"/>
				<xsd:element ref="FaxNumber"/>
				<xsd:element ref="Address1"/>
				<xsd:element ref="Address2"/>
				<xsd:element ref="City"/>
				<xsd:element ref="Province"/>
				<xsd:element ref="PostalCode"/>
				<xsd:element ref="EndUserCountryCode" minOccurs="0"/>
				<xsd:element ref="CompanyName"/>
				<xsd:element ref="VATNumber" minOccurs="0"/>
				<xsd:element ref="AuthorizationNumber" minOccurs="0"/>
				<xsd:element ref="PricingLevel" minOccurs="0"/>
				<xsd:element ref="EmailAddress"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EndUserCountryCode" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="0" d:maxLength="2">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmailAddress" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="3" d:maxLength="50">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DTypeOrderRequest">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Version"/>
				<xsd:element ref="TransactionHeader"/>
				<xsd:element ref="OrderHeaderInformation"/>
				<xsd:element ref="OrderLineInformation"/>
				<xsd:element ref="ShowDetail" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CustomerPO" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="0" d:maxLength="18">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CustomerLineNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="0" d:maxLength="3">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CountryCode" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="2" d:maxLength="2">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ContactName" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="30">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CompanyName" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="30">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CommentText" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CommentLine">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CommentText"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="City" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="21">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CarrierCode" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="2" d:maxLength="2">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BillToSuffix" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="3" d:maxLength="3">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BackOrderFlag" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="char">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AuthorizationNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="0" d:maxLength="20">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AddressingInformation">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CustomerPO"/>
				<xsd:element ref="ShipToAttention"/>
				<xsd:element ref="EndUserPO" minOccurs="0"/>
				<xsd:element ref="SpecialBidNumber" minOccurs="0"/>
				<xsd:element ref="ShipTo" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Address2" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Address1" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Address">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ShipToAddress1"/>
				<xsd:element ref="ShipToAddress2" minOccurs="0"/>
				<xsd:element ref="ShipToAddress3" minOccurs="0"/>
				<xsd:element ref="ShipToCity"/>
				<xsd:element ref="ShipToProvince" minOccurs="0"/>
				<xsd:element ref="ShipToPostalCode"/>
				<xsd:element ref="ShipToCountryCode" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DeliveryDate" type="xsd:string"/>
	<xsd:element name="ManufacturerPartNumber" type="xsd:string"/>
	<xsd:element name="UPC" type="xsd:string"/>
	<xsd:element name="CustomerPartNumber" type="xsd:string"/>
	<xsd:element name="RequestedPrice" type="xsd:string"/>
</xsd:schema>