archive/www-tools-commands-to-be-implemented/ingrammicro/docs/Invoice.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:b="urn:schemas-microsoft-com:BizTalkServer"
	 xmlns:d="urn:schemas-microsoft-com:datatypes"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:appinfo b:standard="XML" b:is_envelope="no" b:version="1.0" b:schema_type="INVOIC" b:root_reference="Invoice" b:BizTalkServerEditorTool_Version="1.5">
			<b:SelectionFields/>
		</xsd:appinfo>
	</xsd:annotation>
	<!-- Generated by using BizTalk Editor on Mon, Mar 01 2004 11:32:02 AM -->
	<!-- Copyright (c) Microsoft Corporation. All rights reserved. -->
	<xsd:element name="VATNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>RFF C50602</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VAT">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="VATNumber" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="UnitPrice" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>PRI C50902</xsd:documentation>
			<xsd:appinfo d:type="number" d:minLength="1" d:maxLength="18">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TotalInformation">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="Type" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>CNT 27002 where C27001 = 1 tot qty  C27001 = 2 order lines</xsd:documentation>
							<xsd:appinfo d:minLength="1" d:maxLength="35" d:type="string">
								<b:FieldInfo/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TotalFinancial">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="Type" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>MOA_12 C51602 WHERE C51601 = 9/79/125/131/176</xsd:documentation>
							<xsd:appinfo>
								<b:FieldInfo/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TermsCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>PAT C11201</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="3">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Tax">
		<xsd:annotation>
			<xsd:documentation>LINLoop1\MOA_8\C516_8\C51602</xsd:documentation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="Type" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>LINLoop1\TaxLoop3\C241_3\C24101</xsd:documentation>
							<xsd:appinfo d:minLength="1" d:maxLength="3" d:type="string">
								<b:FieldInfo/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SerialNumberHeader">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="SerialNumber" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SerialNumber">
		<xsd:annotation>
			<xsd:documentation>LINLoop1\GIN_2\C208_7 C20801 if GIN01 = BN</xsd:documentation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SKUDescription2" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>IMD_2 C273_2 C27305</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SKUDescription1" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>IMD_2 C273_2 C27304</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Product">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CustomerSKU" minOccurs="0"/>
				<xsd:element ref="EANCode" minOccurs="0"/>
				<xsd:element ref="ManufacturerSKU" minOccurs="0"/>
				<xsd:element ref="SKUDescription1" minOccurs="0"/>
				<xsd:element ref="SKUDescription2" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="SKU" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>LIN C21201</xsd:documentation>
					<xsd:appinfo d:minLength="1" d:maxLength="35" d:type="string">
						<b:FieldInfo/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="InvoicedQuantity" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>QTY_3 C186_3 C18601</xsd:documentation>
					<xsd:appinfo d:minLength="1" d:maxLength="15" d:type="number">
						<b:FieldInfo/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PostalCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>NAD NAD08</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="9">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PaymentTerms">
		<xsd:annotation>
			<xsd:documentation>Loop for Payment terms basis</xsd:documentation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="TermsCode" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PaymentDueDate" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>PAT DTM C50702</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PaymentDue">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="PaymentDueDate" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OriginalOrderNumber">
		<xsd:annotation>
			<xsd:documentation>RFF C50602 if C50601 is OP = OriginalOrderNumber</xsd:documentation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Name" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>NAD C08001</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ManufacturerSKU" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>LIN PIA C212_4 C21201</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LineMonetaryInfo">
		<xsd:annotation>
			<xsd:documentation>Loop for Monetary amount</xsd:documentation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="UnitPrice" minOccurs="0"/>
				<xsd:element ref="LineItemAmount" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LineItemHeader">
		<xsd:annotation>
			<xsd:documentation>Loop for Line item</xsd:documentation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="LineItem" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LineItemAmount" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>MOA_12 C51602</xsd:documentation>
			<xsd:appinfo d:type="number" d:minLength="1" d:maxLength="18">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LineItem">
		<xsd:annotation>
			<xsd:documentation>LIN LIN01</xsd:documentation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="Product" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="SerialNumberHeader" minOccurs="0"/>
				<xsd:element ref="Tax" minOccurs="0"/>
				<xsd:element ref="LineMonetaryInfo" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
			<xsd:attribute name="LineNumber" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>LIN LIN01</xsd:documentation>
					<xsd:appinfo d:minLength="1" d:maxLength="6" d:type="string">
						<b:FieldInfo/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="InvoiceType" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>BGM C00201</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InvoiceNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>BGM C10601</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InvoiceHeader">
		<xsd:annotation>
			<xsd:documentation>Beginning of message</xsd:documentation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="InvoiceType" minOccurs="0"/>
				<xsd:element ref="InvoiceNumber" minOccurs="0"/>
				<xsd:element ref="InvoiceDate" minOccurs="0"/>
				<xsd:element ref="CustomerPO" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="OriginalOrderNumber" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="InvoiceDate" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>DTM C50702</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Invoice">
		<xsd:annotation>
			<xsd:documentation>Invoice message</xsd:documentation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="InvoiceHeader"/>
				<xsd:element ref="IMStandard" minOccurs="0"/>
				<xsd:element ref="IMAccountNumber" minOccurs="0"/>
				<xsd:element ref="Address" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="VAT" minOccurs="0"/>
				<xsd:element ref="Currency" minOccurs="0"/>
				<xsd:element ref="PaymentTerms" minOccurs="0"/>
				<xsd:element ref="PaymentDue" minOccurs="0"/>
				<xsd:element ref="LineItemHeader" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="TotalInformation" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="TotalFinancial" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Final" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IMStandard">
		<xsd:annotation>
			<xsd:documentation>Ingram standard for outbound schema</xsd:documentation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IMAccountNumber">
		<xsd:annotation>
			<xsd:documentation>NAD C08201</xsd:documentation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Final">
		<xsd:annotation>
			<xsd:documentation>TAX MOA_13 C51602 WHERE C51601=125/176</xsd:documentation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="Type" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo>
								<b:FieldInfo/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EANCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>LIN PIA C212_3 C21201 if C21202 = EN</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CustomerSKU" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>LIN PIA C212_2 C21201 if C21202 = BP</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CustomerPO">
		<xsd:annotation>
			<xsd:documentation>RFF C50602 if C50601 is ON = CustomerPO</xsd:documentation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CurrencyCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>CUX C50402</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="3">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Currency">
		<xsd:annotation>
			<xsd:documentation>Loop for Currencies</xsd:documentation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CurrencyCode" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CountryCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>NAD NAD09</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="3">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="City" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>NAD NAD06</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Attention" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>NAD C08002</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AddressLine4" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>NAD C05904</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AddressLine3" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>NAD C05903</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AddressLine2" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>NAD C05902</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AddressLine1" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>NAD C05901</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="35">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Address">
		<xsd:annotation>
			<xsd:documentation>NAD01 CN</xsd:documentation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="Name" minOccurs="0"/>
				<xsd:element ref="Attention" minOccurs="0"/>
				<xsd:element ref="AddressLine1" minOccurs="0"/>
				<xsd:element ref="AddressLine2" minOccurs="0"/>
				<xsd:element ref="AddressLine3" minOccurs="0"/>
				<xsd:element ref="AddressLine4" minOccurs="0"/>
				<xsd:element ref="City" minOccurs="0"/>
				<xsd:element ref="PostalCode" minOccurs="0"/>
				<xsd:element ref="CountryCode" minOccurs="0"/>
			</xsd:choice>
			<xsd:attribute name="Type" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>NAD NAD01</xsd:documentation>
					<xsd:appinfo d:minLength="1" d:maxLength="35" d:type="string">
						<b:FieldInfo/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>