archive/www-tools-commands-to-be-implemented/ingrammicro/docs/OrderEntryAck2_5.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:b = "urn:schemas-microsoft-com:BizTalkServer" xmlns:d = "urn:schemas-microsoft-com:datatypes" xmlns:xsd = "http://www.w3.org/2001/XMLSchema">	
	<xsd:annotation>
		<xsd:appinfo
			 b:BizTalkServerEditorTool_Version = "1.5"
			 b:root_reference = "OrderAcknowledgement"
			 b:version = "0.1"
			 b:standard = "XML">
			<b:SelectionFields/>
		</xsd:appinfo>
	</xsd:annotation>
	<!-- Generated by using BizTalk Editor on Tue, Sep 26 2006 01:33:20 PM -->
	
	
	<!-- Copyright (c) Microsoft Corporation. All rights reserved. -->
	
	<xsd:element name = "Version" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "4"
				 d:minLength = "1"
				 d:type = "string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "TransactionID" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "18"
				 d:type = "string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "TransactionHeader">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "SenderID"/>
				<xsd:element ref = "ReceiverID"/>
				<xsd:element ref = "ErrorStatus" minOccurs = "0"/>
				<xsd:element ref = "DocumentID"/>
				<xsd:element ref = "TransactionID" minOccurs = "0"/>
				<xsd:element ref = "TimeStamp"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "TimeStamp" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:type = "dateTime">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "SenderID" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "18"
				 d:minLength = "1"
				 d:type = "string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "ReceiverID" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "18"
				 d:minLength = "1"
				 d:type = "string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "OrderInformation">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "CustomerPO"/>
				<xsd:element ref = "EndUserPO" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "OrderAcknowledgement">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Version"/>
				<xsd:element ref = "TransactionHeader"/>
				<xsd:element ref = "OrderInformation" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ErrorStatus">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attribute name = "ErrorNumber" use = "required" type = "xsd:string">
						<xsd:annotation>
							<xsd:appinfo
								 d:type = "string">
								<b:FieldInfo/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "EndUserPO" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "20"
				 d:minLength = "0"
				 d:type = "string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "DocumentID" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "38"
				 d:type = "string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "CustomerPO" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "18"
				 d:minLength = "0"
				 d:type = "string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>