archive/www-tools-commands-to-be-implemented/ingrammicro/docs/OrderStatusResponse200.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.2.7. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:b = "urn:schemas-microsoft-com:BizTalkServer" xmlns:d = "urn:schemas-microsoft-com:datatypes" xmlns:xsd = "http://www.w3.org/2001/XMLSchema">

	<xsd:annotation>
		<xsd:appinfo
			 b:BizTalkServerEditorTool_Version = "1.5"
			 b:root_reference = "OrderStatusResponse"
			 b:standard = "XML">
			<b:SelectionFields/>
		</xsd:appinfo>
	</xsd:annotation>
	<!-- Generated by using BizTalk Editor on Fri, Jun 27 2003 02:46:01 PM -->
	
	
	<!-- Copyright (c) Microsoft Corporation. All rights reserved. -->
	
	<xsd:element name = "Version" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "TransactionID" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "18"
				 d:type = "string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "TransactionHeader">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "SenderID"/>
				<xsd:element ref = "ReceiverID"/>
				<xsd:element ref = "ErrorStatus"/>
				<xsd:element ref = "DocumentID"/>
				<xsd:element ref = "TransactionID" minOccurs = "0"/>
				<xsd:element ref = "TimeStamp"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "TotalSales" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "18"
				 d:type = "string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "TimeStamp" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:type = "dateTime">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "ShippedDate" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:type = "date">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "ShipFromBranch">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attribute name = "Number" use = "required" type = "xsd:string">
						<xsd:annotation>
							<xsd:appinfo
								 d:type = "string"
								 d:maxLength = "2"
								 d:minLength = "2">
								<b:FieldInfo/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "SenderID" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "18"
				 d:minLength = "1"
				 d:type = "string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "ReceiverID" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "18"
				 d:minLength = "1"
				 d:type = "string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "OrderSuffix">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "ShipFromBranch"/>
				<xsd:element ref = "OrderStatus"/>
				<xsd:element ref = "TotalSales" minOccurs = "0"/>
				<xsd:element ref = "InvoiceDate" minOccurs = "0"/>
				<xsd:element ref = "ShippedDate" minOccurs = "0"/>
				<xsd:element ref = "OrderCreditMemo" maxOccurs = "unbounded"/>
			</xsd:sequence>
			<xsd:attribute name = "ID" use = "required" type = "xsd:string">
				<xsd:annotation>
					<xsd:appinfo
						 d:type = "string"
						 d:maxLength = "2"
						 d:minLength = "2">
						<b:FieldInfo/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "OrderStatusResponse">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Version"/>
				<xsd:element ref = "TransactionHeader"/>
				<xsd:element ref = "OrderStatusInformation" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "OrderStatusInformation">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "CustomerPO"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "OrderStatus" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:type = "string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "OrderInfo">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "BranchOrderNumber"/>
				<xsd:element ref = "OrderEntryDate" minOccurs = "0"/>
				<xsd:element ref = "OrderSuffix" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "OrderEntryDate" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:type = "date">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "OrderCreditMemo">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attribute name = "Code" type = "xsd:string">
						<xsd:annotation>
							<xsd:appinfo
								 d:type = "string">
								<b:FieldInfo/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "InvoiceDate" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:type = "date">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "ErrorStatus">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attribute name = "ErrorNumber" use = "required" type = "xsd:string">
						<xsd:annotation>
							<xsd:appinfo
								 d:type = "string">
								<b:FieldInfo/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "DocumentID" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "38"
				 d:type = "string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "CustomerPO">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice minOccurs = "0" maxOccurs = "unbounded">
				<xsd:element ref = "OrderInfo" maxOccurs = "unbounded"/>
			</xsd:choice>
			<xsd:attribute name = "Number" use = "required" type = "xsd:string">
				<xsd:annotation>
					<xsd:appinfo
						 d:type = "string"
						 d:maxLength = "18">
						<b:FieldInfo/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "BranchOrderNumber" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "7"
				 d:minLength = "7"
				 d:type = "string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>