archive/www-tools-commands-to-be-implemented/ingrammicro/docs/OrderChangeVersion2_0_Request.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:b="urn:schemas-microsoft-com:BizTalkServer"
	 xmlns:d="urn:schemas-microsoft-com:datatypes"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:appinfo b:BizTalkServerEditorTool_Version="1.5" b:root_reference="OrderChangeRequest" b:version="0.1" b:standard="XML">
			<b:SelectionFields/>
		</xsd:appinfo>
	</xsd:annotation>

	<!-- Generated by using BizTalk Editor on Fri, Jul 11 2003 04:33:46 PM -->
	<!-- Copyright (c) Microsoft Corporation. All rights reserved. -->
	<xsd:element name="Version" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransactionID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="18" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransactionHeader">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SenderID"/>
				<xsd:element ref="ReceiverID"/>
				<xsd:element ref="CountryCode"/>
				<xsd:element ref="LoginID"/>
				<xsd:element ref="Password"/>
				<xsd:element ref="TransactionID" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Suffix" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="2" d:minLength="2" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShowDetail" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="boolean">
				<b:RecordInfo tag_name="ShowDetail"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipmentAddressInformation">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="NewCarrierCode"/>
				<xsd:element ref="NewCustomerPO"/>
				<xsd:element ref="NewShipToAttention"/>
				<xsd:element ref="NewShipToAddress1" minOccurs="0"/>
				<xsd:element ref="NewShipToAddress2" minOccurs="0"/>
				<xsd:element ref="NewShipToAddress3" minOccurs="0"/>
				<xsd:element ref="NewShipToCity" minOccurs="0"/>
				<xsd:element ref="NewShipToProvince" minOccurs="0"/>
				<xsd:element ref="NewShipToPostalCode" minOccurs="0"/>
				<xsd:element ref="NewShipToCountryCode" minOccurs="0"/>
				<xsd:element ref="NewEndUserPO" minOccurs="0"/>
				<xsd:element ref="NewBillToSuffix" minOccurs="0"/>
				<xsd:element ref="NewShipToSuffix" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ShipFromWarehouse" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="2" d:minLength="2" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SenderID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="18" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SKU" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="12" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReceiverID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="18" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Quantity" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="int">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Password" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="10" d:minLength="6" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrderSuffix" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="2" d:minLength="2" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrderHeaderInformation">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="BranchOrderNumber"/>
				<xsd:element ref="OrderSuffix" minOccurs="0"/>
				<xsd:element ref="CustomerPO" minOccurs="0"/>
				<xsd:element ref="OrderActionCode" minOccurs="0"/>
				<xsd:element ref="ShipmentAddressInformation" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OrderChangeRequest">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Version"/>
				<xsd:element ref="TransactionHeader"/>
				<xsd:element ref="OrderHeaderInformation"/>
				<xsd:element ref="LineInformation" minOccurs="0"/>
				<xsd:element ref="ShowDetail" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OrderActionCode" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="char">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NewShipToSuffix" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="3" d:minLength="3" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NewShipToProvince" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="2" d:minLength="2" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NewShipToPostalCode" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="9" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NewShipToCountryCode" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="2" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NewShipToCity" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="21" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NewShipToAttention" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="35" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NewShipToAddress3" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="35" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NewShipToAddress2" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="35" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NewShipToAddress1" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="35" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NewEndUserPO" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="18" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NewCustomerPO" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="18" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NewCarrierCode" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="2" d:minLength="2" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NewBillToSuffix" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="3" d:minLength="3" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LoginID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="10" d:minLength="6" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LineInformation">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="AddLine" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="ChangeLine" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="DeleteLine" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="AddComment" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="AddLineComment" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IngramLineNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="3" d:minLength="3" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DeleteLine">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="IngramLineNumber"/>
				<xsd:element ref="Suffix"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CustomerPO" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="18" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CustomerLineNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="3" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CountryCode" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="2" d:minLength="2" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CommentText" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="35" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ChangeLine">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="IngramLineNumber"/>
				<xsd:element ref="SKU"/>
				<xsd:element ref="Quantity"/>
				<xsd:element ref="CustomerLineNumber" minOccurs="0"/>
				<xsd:element ref="Suffix" minOccurs="0"/>
				<xsd:element ref="CustomLinePersist" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BranchOrderNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="7" d:minLength="7" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AddLine">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SKU"/>
				<xsd:element ref="Quantity"/>
				<xsd:element ref="CustomerLineNumber" minOccurs="0"/>
				<xsd:element ref="ShipFromWarehouse"/>
				<xsd:element ref="CustomLinePersist" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AddComment">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CommentText"/>
				<xsd:element ref="CustomerLineNumber" minOccurs="0"/>
				<xsd:element ref="Suffix"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CustomLinePersist">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="NameValue" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NameValue">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Name"/>
				<xsd:element ref="Value"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Name" type="xsd:string"/>
	<xsd:element name="Value" type="xsd:string"/>
	<xsd:element name="AddLineComment">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="IngramLineNumber"/>
				<xsd:element ref="Suffix" minOccurs="0"/>
				<xsd:element ref="CustomLinePersist"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>