archive/www-tools-commands-to-be-implemented/ingrammicro/docs/OrderEntryResponseV2_0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:b="urn:schemas-microsoft-com:BizTalkServer"
	 xmlns:d="urn:schemas-microsoft-com:datatypes"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:appinfo b:BizTalkServerEditorTool_Version="1.5" b:root_reference="OrderResponse" b:version="1.0" b:standard="XML">
			<b:SelectionFields/>
		</xsd:appinfo>
	</xsd:annotation>

	<!-- Generated by using BizTalk Editor on Wed, Dec 15 2004 11:24:31 AM -->
	<!-- Copyright (c) Microsoft Corporation. All rights reserved. -->
	<xsd:element name="Version" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UnitPrice" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="17" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransitDays" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="1" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransactionID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="18" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransactionHeader">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SenderID"/>
				<xsd:element ref="ReceiverID"/>
				<xsd:element ref="ErrorStatus" minOccurs="0"/>
				<xsd:element ref="DocumentID"/>
				<xsd:element ref="TransactionID" minOccurs="0"/>
				<xsd:element ref="TimeStamp"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TimeStamp" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="dateTime">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ThirdPartyFreightAccount" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="12" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SuffixErrorResponse">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="SuffixErrorType" type="xsd:string" use="required">
						<xsd:annotation>
							<xsd:appinfo d:type="string" d:maxLength="3" d:minLength="0">
								<b:FieldInfo/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SpecialBidNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="35" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SpecialBidMessage" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="35" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipToSuffix" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="3" d:minLength="3" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipToProvince" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="2" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipToPostalCode" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="9" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipToCity" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="21" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipToAttention" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="35" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipToAddress3" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="35" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipToAddress2" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="35" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipToAddress1" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="35" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipFromBranch" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="2" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SenderID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="18" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SKU" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="12" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReceiverID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="18" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ProductLine">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="LineError"/>
				<xsd:element ref="SKU"/>
				<xsd:element ref="ManufacturerPartNumber" minOccurs="0"/>
				<xsd:element ref="UPC" minOccurs="0"/>
				<xsd:element ref="CustomerPartNumber" minOccurs="0"/>
				<xsd:element ref="SpecialBidNumber" minOccurs="0"/>
				<xsd:element ref="SpecialBidMessage" minOccurs="0"/>
				<xsd:element ref="RequestedPrice" minOccurs="0"/>
				<xsd:element ref="UnitPrice"/>
				<xsd:element ref="IngramLineNumber"/>
				<xsd:element ref="CustomerLineNumber" minOccurs="0"/>
				<xsd:element ref="CustomLinePersist" minOccurs="0"/>
				<xsd:element ref="ShipFromBranch"/>
				<xsd:element ref="OrderQuantity"/>
				<xsd:element ref="AllocatedQuantity"/>
				<xsd:element ref="BackOrderedQuantity"/>
				<xsd:element ref="BackOrderETADate"/>
				<xsd:element ref="PriceDerivedFlag"/>
				<xsd:element ref="ForeignCurrency"/>
				<xsd:element ref="FreightRate"/>
				<xsd:element ref="TransitDays"/>
				<xsd:element ref="LineBillToSuffix"/>
				<xsd:element ref="ServiceFee" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PriceDerivedFlag" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="3" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrderSuffix">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="DistributionWeight" minOccurs="0"/>
				<xsd:element ref="SuffixErrorResponse" minOccurs="0"/>
				<xsd:element ref="Carrier" minOccurs="0"/>
				<xsd:element ref="LineInformation" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Suffix" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:appinfo d:type="string" d:maxLength="2" d:minLength="2">
						<b:FieldInfo/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OrderResponse">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Version"/>
				<xsd:element ref="TransactionHeader"/>
				<xsd:element ref="OrderInfo" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OrderQuantity" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="int">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrderNumbers">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="BranchOrderNumber"/>
				<xsd:element ref="CustomerPO"/>
				<xsd:element ref="ShipToAttention" minOccurs="0"/>
				<xsd:element ref="ThirdPartyFreightAccount" minOccurs="0"/>
				<xsd:element ref="ShipToAddress1" minOccurs="0"/>
				<xsd:element ref="ShipToAddress2" minOccurs="0"/>
				<xsd:element ref="ShipToAddress3" minOccurs="0"/>
				<xsd:element ref="ShipToCity" minOccurs="0"/>
				<xsd:element ref="ShipToProvince" minOccurs="0"/>
				<xsd:element ref="ShipToPostalCode" minOccurs="0"/>
				<xsd:element ref="ShipToSuffix" minOccurs="0"/>
				<xsd:element ref="AddressErrorMessage" minOccurs="0"/>
				<xsd:element ref="ContractNumber" minOccurs="0"/>
				<xsd:element ref="OrderSuffix" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="CustomOrderPersist" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OrderInfo">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="OrderNumbers"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LineInformation">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="ProductLine" minOccurs="0"/>
				<xsd:element ref="CommentLine" minOccurs="0"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LineError" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="50" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LineBillToSuffix" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="3" d:minLength="3" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IngramLineNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="3" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FreightRate" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="17" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ForeignCurrency" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="17" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ErrorStatus">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="ErrorNumber" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo d:type="string">
								<b:FieldInfo/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DocumentID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="40" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DistributionWeight" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="5" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CustomerPO" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="18" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CustomerLineNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="3" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CustomLinePersist">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="NameValue" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NameValue">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Name"/>
				<xsd:element ref="Value"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Name" type="xsd:string"/>
	<xsd:element name="Value" type="xsd:string"/>
	<xsd:element name="ContractNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="30" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CommentText" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="35" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CommentLineNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="3" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CommentLine">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CommentText"/>
				<xsd:element ref="CommentLineNumber"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Carrier">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="CarrierCode" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo d:type="string" d:maxLength="2" d:minLength="0">
								<b:FieldInfo/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BranchOrderNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="7" d:minLength="7" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BackOrderedQuantity" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="int">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BackOrderETADate" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="date">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AllocatedQuantity" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="int">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AddressErrorMessage">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="AddressErrorType" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo d:type="string" d:maxLength="2" d:minLength="0">
								<b:FieldInfo/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ManufacturerPartNumber" type="xsd:string"/>
	<xsd:element name="UPC" type="xsd:string"/>
	<xsd:element name="CustomerPartNumber" type="xsd:string"/>
	<xsd:element name="ServiceFee">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Fees" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Fees">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Code" minOccurs="0"/>
				<xsd:element ref="Description" minOccurs="0"/>
				<xsd:element ref="Amount" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Code" type="xsd:string"/>
	<xsd:element name="Description" type="xsd:string"/>
	<xsd:element name="Amount" type="xsd:string"/>
	<xsd:element name="RequestedPrice" type="xsd:string"/>
	<xsd:element name="CustomOrderPersist">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="NameValue" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>