archive/www-tools-commands-to-be-implemented/ingrammicro/docs/OrderChangeVersion2_0_Response.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:b="urn:schemas-microsoft-com:BizTalkServer"
	 xmlns:d="urn:schemas-microsoft-com:datatypes"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:appinfo b:BizTalkServerEditorTool_Version="1.5" b:root_reference="OrderChangeResponse" b:version="0.1" b:standard="XML">
			<b:SelectionFields/>
		</xsd:appinfo>
	</xsd:annotation>

	<!-- Generated by using BizTalk Editor on Mon, Jul 14 2003 10:09:06 AM -->
	<!-- Copyright (c) Microsoft Corporation. All rights reserved. -->
	<xsd:element name="Version" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UnitPrice" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransitDays" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="1" d:type="number">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransactionID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="18" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransactionHeader">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SenderID"/>
				<xsd:element ref="ReceiverID"/>
				<xsd:element ref="ErrorStatus" minOccurs="0"/>
				<xsd:element ref="DocumentID"/>
				<xsd:element ref="TransactionID" minOccurs="0"/>
				<xsd:element ref="TimeStamp"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TimeStamp" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="dateTime">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Suffix" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="2" d:minLength="2" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShippedQuantity" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="int">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipFromWarehouse" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="2" d:minLength="2" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SenderID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="18" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SKU" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="12" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReceiverID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="18" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Quantity" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="int">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PriceDerivedFlag" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="char">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrderSuffix" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="2" d:minLength="2" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrderHeaderInformation">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="OrderHeaderError" minOccurs="0"/>
				<xsd:element ref="BranchOrderNumber"/>
				<xsd:element ref="OrderSuffix" minOccurs="0"/>
				<xsd:element ref="CustomerPO" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OrderHeaderError" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="1024" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrderChangeResponse">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Version"/>
				<xsd:element ref="TransactionHeader"/>
				<xsd:element ref="OrderHeaderInformation" minOccurs="0"/>
				<xsd:element ref="LineInformation" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OldIngramLineNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="3" d:minLength="3" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NewIngramLineNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="3" d:minLength="3" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocalCurrencyPrice" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LineInformation">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="AddLine" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="ChangeLine" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="DeleteLine" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="AddComment" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="AddLineComment" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LineError" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="255" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IngramLineNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="3" d:minLength="3" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FreightRate" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ForeignCurrency" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ErrorStatus">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="ErrorNumber" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo d:type="string">
								<b:FieldInfo/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DocumentID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="40" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DeleteLine">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="LineError" minOccurs="0"/>
				<xsd:element ref="IngramLineNumber"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CustomerPO" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="18" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CustomerLineNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="3" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ChangeLine">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="LineError" minOccurs="0"/>
				<xsd:element ref="SKU"/>
				<xsd:element ref="Quantity"/>
				<xsd:element ref="ShippedQuantity"/>
				<xsd:element ref="BackOrderQuantity"/>
				<xsd:element ref="BackOrderETA" minOccurs="0"/>
				<xsd:element ref="OldIngramLineNumber"/>
				<xsd:element ref="NewIngramLineNumber" minOccurs="0"/>
				<xsd:element ref="CustomerLineNumber" minOccurs="0"/>
				<xsd:element ref="UnitPrice"/>
				<xsd:element ref="Suffix" minOccurs="0"/>
				<xsd:element ref="LocalCurrencyPrice" minOccurs="0"/>
				<xsd:element ref="PriceDerivedFlag" minOccurs="0"/>
				<xsd:element ref="ForeignCurrency" minOccurs="0"/>
				<xsd:element ref="CarrierCode" minOccurs="0"/>
				<xsd:element ref="FreightRate" minOccurs="0"/>
				<xsd:element ref="TransitDays" minOccurs="0"/>
				<xsd:element ref="ServiceFee" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="CustomLinePersist" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CarrierCode" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="2" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BranchOrderNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="7" d:minLength="7" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BackOrderQuantity" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="int">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BackOrderETA" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="date">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AddLine">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="LineError" minOccurs="0"/>
				<xsd:element ref="SKU"/>
				<xsd:element ref="Quantity"/>
				<xsd:element ref="ShippedQuantity"/>
				<xsd:element ref="BackOrderQuantity"/>
				<xsd:element ref="BackOrderETA" minOccurs="0"/>
				<xsd:element ref="IngramLineNumber"/>
				<xsd:element ref="CustomerLineNumber" minOccurs="0"/>
				<xsd:element ref="UnitPrice"/>
				<xsd:element ref="ShipFromWarehouse"/>
				<xsd:element ref="LocalCurrencyPrice" minOccurs="0"/>
				<xsd:element ref="PriceDerivedFlag" minOccurs="0"/>
				<xsd:element ref="ForeignCurrency" minOccurs="0"/>
				<xsd:element ref="CarrierCode" minOccurs="0"/>
				<xsd:element ref="FreightRate" minOccurs="0"/>
				<xsd:element ref="TransitDays" minOccurs="0"/>
				<xsd:element ref="ServiceFee" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="CustomLinePersist" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AddComment">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="LineError" minOccurs="0"/>
				<xsd:element ref="IngramLineNumber" minOccurs="0"/>
				<xsd:element ref="Suffix" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ServiceFee">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Fees" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Fees">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Code" minOccurs="0"/>
				<xsd:element ref="Description" minOccurs="0"/>
				<xsd:element ref="Amount" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Code" type="xsd:string"/>
	<xsd:element name="Description" type="xsd:string"/>
	<xsd:element name="Amount" type="xsd:string"/>
	<xsd:element name="CustomLinePersist">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="NameValue" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NameValue">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Name"/>
				<xsd:element ref="Value"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Name" type="xsd:string"/>
	<xsd:element name="Value" type="xsd:string"/>
	<xsd:element name="AddLineComment">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="LineError" minOccurs="0"/>
				<xsd:element ref="IngramLineNumber"/>
				<xsd:element ref="Suffix" minOccurs="0"/>
				<xsd:element ref="CustomLinePersist" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>