archive/www-tools-commands-to-be-implemented/ingrammicro/docs/OrderDetailRequest2_0.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.2.7. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:b = "urn:schemas-microsoft-com:BizTalkServer" xmlns:d = "urn:schemas-microsoft-com:datatypes" xmlns:xsd = "http://www.w3.org/2001/XMLSchema">

	<xsd:annotation>
		<xsd:appinfo
			 b:BizTalkServerEditorTool_Version = "1.5"
			 b:root_reference = "OrderDetailRequest"
			 b:version = "0.1"
			 b:standard = "XML">
			<b:SelectionFields/>
		</xsd:appinfo>
	</xsd:annotation>
	<!-- Generated by using BizTalk Editor on Wed, Dec 08 2004 02:00:17 PM -->
	
	
	<!-- Copyright (c) Microsoft Corporation. All rights reserved. -->
	
	<xsd:element name = "Version" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "TransactionID" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "18"
				 d:type = "string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "TransactionHeader">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "SenderID"/>
				<xsd:element ref = "ReceiverID"/>
				<xsd:element ref = "CountryCode"/>
				<xsd:element ref = "LoginID"/>
				<xsd:element ref = "Password"/>
				<xsd:element ref = "TransactionID" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ShowDetail" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:type = "char">
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "SenderID" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "18"
				 d:minLength = "1"
				 d:type = "string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "ReceiverID" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "18"
				 d:minLength = "1"
				 d:type = "string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "Password" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "10"
				 d:minLength = "6"
				 d:type = "string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "OrderSuffix" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "2"
				 d:minLength = "2"
				 d:type = "string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "OrderHeaderInfo">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "BranchOrderNumber"/>
				<xsd:element ref = "OrderSuffix" minOccurs = "0"/>
				<xsd:element ref = "CustomerPO"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "OrderDetailRequest">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Version" minOccurs = "0"/>
				<xsd:element ref = "TransactionHeader"/>
				<xsd:element ref = "OrderHeaderInfo"/>
				<xsd:element ref = "ShowDetail" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "LoginID" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "10"
				 d:minLength = "6"
				 d:type = "string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "CustomerPO" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "18"
				 d:minLength = "1"
				 d:type = "string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "CountryCode" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "2"
				 d:minLength = "2"
				 d:type = "string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "BranchOrderNumber" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "7"
				 d:minLength = "7"
				 d:type = "string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
