archive/www-tools-commands-to-be-implemented/ingrammicro/docs/OrderTrackingResponse2_0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:b="urn:schemas-microsoft-com:BizTalkServer"
	 xmlns:d="urn:schemas-microsoft-com:datatypes"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:appinfo b:standard="XML" b:version="0.1" b:root_reference="OrderTrackingResponse" b:BizTalkServerEditorTool_Version="1.5">
			<b:SelectionFields/>
		</xsd:appinfo>
	</xsd:annotation>

	<!-- Generated by using BizTalk Editor on Fri, Jul 11 2003 03:43:56 PM -->
	<!-- Copyright (c) Microsoft Corporation. All rights reserved. -->
	<xsd:element name="Version" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="4">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransactionID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:maxLength="18">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransactionHeader">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SenderID"/>
				<xsd:element ref="ReceiverID"/>
				<xsd:element ref="ErrorStatus"/>
				<xsd:element ref="DocumentID"/>
				<xsd:element ref="TransactionID" minOccurs="0"/>
				<xsd:element ref="TimeStamp"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TrackingURL" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TotalWeight" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="1">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TimeStamp" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="dateTime">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Suffix">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="Carrier" minOccurs="0"/>
				<xsd:element ref="Package" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
			<xsd:attribute name="SuffixNumber" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:appinfo>
						<b:FieldInfo/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ShipDate" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="date">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SenderID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="18">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SKU" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReceiverID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="18">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Package">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ShipDate"/>
				<xsd:element ref="BoxNumber"/>
				<xsd:element ref="BoxWeight"/>
				<xsd:element ref="TrackingURL" minOccurs="0"/>
				<xsd:element ref="Contents" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:appinfo d:type="string">
						<b:FieldInfo/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OrderTrackingResponse">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Version"/>
				<xsd:element ref="TransactionHeader" minOccurs="0"/>
				<xsd:element ref="CustomerPO" minOccurs="0"/>
				<xsd:element ref="Order" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Order">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="BranchOrderNumber"/>
				<xsd:element ref="TotalWeight"/>
				<xsd:element ref="CartonCount"/>
				<xsd:element ref="Suffix" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ErrorStatus">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="ErrorNumber" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo d:maxLength="50" d:type="string">
								<b:FieldInfo/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DocumentID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:maxLength="38">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CustomerPO" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="18">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Contents">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SKU" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="ContentDetail" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CartonCount" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="number" d:minLength="1">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Carrier">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="Code" type="xsd:string" use="required">
						<xsd:annotation>
							<xsd:appinfo d:type="string">
								<b:FieldInfo/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BranchOrderNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:maxLength="7">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BoxWeight" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BoxNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="number">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IngramLineNumber" type="xsd:string"/>
	<xsd:element name="Quantity" type="xsd:string"/>
	<xsd:element name="ContentDetail">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SKU" minOccurs="0"/>
				<xsd:element ref="Quantity" minOccurs="0"/>
				<xsd:element ref="IngramLineNumber" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>