archive/www-tools-commands-to-be-implemented/ingrammicro/docs/OrderDetailResponse2_0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:b="urn:schemas-microsoft-com:BizTalkServer"
	 xmlns:d="urn:schemas-microsoft-com:datatypes"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:appinfo b:BizTalkServerEditorTool_Version="1.5" b:root_reference="OrderDetailResponse" b:version="0.1" b:standard="XML">
			<b:SelectionFields/>
		</xsd:appinfo>
	</xsd:annotation>

	<!-- Generated by using BizTalk Editor on Fri, Dec 10 2004 04:56:15 PM -->
	<!-- Copyright (c) Microsoft Corporation. All rights reserved. -->
	<xsd:element name="Version" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="4" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VendorNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="4" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VendorName" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="35" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UnitPrice" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="17" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UnitOfMeasure" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="2" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransactionID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="18" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransactionHeader">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SenderID"/>
				<xsd:element ref="ReceiverID"/>
				<xsd:element ref="ErrorStatus" minOccurs="0"/>
				<xsd:element ref="DocumentID"/>
				<xsd:element ref="TransactionID" minOccurs="0"/>
				<xsd:element ref="TimeStamp"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TimeStamp" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="dateTime">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TermsCode" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="3" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TermID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="4" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TaxTotal" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="17" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SystemComponentSwitch" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="1" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SplitFromOrderNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="11" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SplitBillToSwitch" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="1" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SpecialBidNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="35" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SkuSerialNumber">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SerialNumber" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ShippableSW" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="1" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipToSuffix" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="3" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipToProvince" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="2" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipToPostalCode" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="9" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipToInformation">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ShipToAttention" minOccurs="0"/>
				<xsd:element ref="ShipToAddress1"/>
				<xsd:element ref="ShipToAddress2" minOccurs="0"/>
				<xsd:element ref="ShipToAddress3" minOccurs="0"/>
				<xsd:element ref="ShipToCity"/>
				<xsd:element ref="ShipToProvince"/>
				<xsd:element ref="ShipToPostalCode"/>
				<xsd:element ref="ShipToCountryCode" minOccurs="0"/>
				<xsd:element ref="ShipToSuffix" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ShipToCountryCode" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="2" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipToCity" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="21" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipToAttention" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="35" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipToAddress3" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="35" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipToAddress2" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="35" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipToAddress1" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="35" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipQuantity" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="int">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipFromBranch">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="Number" type="xsd:string" use="required">
						<xsd:annotation>
							<xsd:appinfo d:type="string" d:maxLength="2" d:minLength="2">
								<b:FieldInfo/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ShipComplete" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="1" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SerialNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="30" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SenderID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="18" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SelSrcSlsHdr" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="4" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SelSrcSls" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="4" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SelSrcAcctno" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="5" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SelSrcAcctNoHdr" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="5" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SalesTotal" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="17" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SalePlusTax" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="17" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SKUDescription" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="216" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SKU" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="12" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReserveSequenceNbr" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="3" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResellerUnitPrice" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="17" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResellerNBR" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="13" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReceiverID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="18" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RMACode" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="1" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PromiseDate" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="date">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ProductLine">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SKU"/>
				<xsd:element ref="ManufacturerPartNumber" minOccurs="0"/>
				<xsd:element ref="SKUDescription" minOccurs="0"/>
				<xsd:element ref="SpecialBidNumber" minOccurs="0"/>
				<xsd:element ref="OrderQuantity"/>
				<xsd:element ref="ShipQuantity"/>
				<xsd:element ref="BackOrderQuantity" minOccurs="0"/>
				<xsd:element ref="ComponentQty" minOccurs="0"/>
				<xsd:element ref="BackOrderETADate" minOccurs="0"/>
				<xsd:element ref="NordicPromiseDate" minOccurs="0"/>
				<xsd:element ref="UnitPrice"/>
				<xsd:element ref="UnitOfMeasure" minOccurs="0"/>
				<xsd:element ref="ResellerUnitPrice" minOccurs="0"/>
				<xsd:element ref="ExtendedLineSales" minOccurs="0"/>
				<xsd:element ref="LineSalesTotal"/>
				<xsd:element ref="LineTerms" minOccurs="0"/>
				<xsd:element ref="CustomerLineNumber" minOccurs="0"/>
				<xsd:element ref="CustomerItemNumber" minOccurs="0"/>
				<xsd:element ref="IngramLineNumber"/>
				<xsd:element ref="ReserveSequenceNbr" minOccurs="0"/>
				<xsd:element ref="VendorNumber" minOccurs="0"/>
				<xsd:element ref="VendorName" minOccurs="0"/>
				<xsd:element ref="SelSrcSls" minOccurs="0"/>
				<xsd:element ref="SelSrcAcctno" minOccurs="0"/>
				<xsd:element ref="FreeItemSwitch" minOccurs="0"/>
				<xsd:element ref="SystemComponentSwitch" minOccurs="0"/>
				<xsd:element ref="ConfigInformation" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="CustomLinePersist" minOccurs="0"/>
				<xsd:element ref="SkuSerialNumber" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ProNbrSW" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="1" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ProNbr" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="12" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrderWeight" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="9" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrderType" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="1" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrderTotals">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SalesTotal" minOccurs="0"/>
				<xsd:element ref="FreightTotal" minOccurs="0"/>
				<xsd:element ref="TaxTotal" minOccurs="0"/>
				<xsd:element ref="SalePlusTax" minOccurs="0"/>
				<xsd:element ref="GrandTotal" minOccurs="0"/>
				<xsd:element ref="CODAmount" minOccurs="0"/>
				<xsd:element ref="DiscountAmount" minOccurs="0"/>
				<xsd:element ref="CurrencyCode" minOccurs="0"/>
				<xsd:element ref="CompanyCurrency" minOccurs="0"/>
				<xsd:element ref="CurrencyRate" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OrderSuffix">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ShipToInformation" minOccurs="0"/>
				<xsd:element ref="BillToInformation" minOccurs="0"/>
				<xsd:element ref="ShipFromBranch" minOccurs="0"/>
				<xsd:element ref="OrderStatus"/>
				<xsd:element ref="Carrier" minOccurs="0"/>
				<xsd:element ref="InvoiceDate" minOccurs="0"/>
				<xsd:element ref="PromiseDate" minOccurs="0"/>
				<xsd:element ref="OrderShipDate" minOccurs="0"/>
				<xsd:element ref="OrderLineDetail" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:appinfo d:type="string" d:maxLength="2" d:minLength="2">
						<b:FieldInfo/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OrderStatus" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="35" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrderShipDate" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="date">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrderQuantity" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="int">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrderLineDetail">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="ProductLine" maxOccurs="unbounded"/>
				<xsd:element ref="CommentLine" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OrderInformation">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="BranchOrderNumber"/>
				<xsd:element ref="CustomerPO"/>
				<xsd:element ref="EndUserPO" minOccurs="0"/>
				<xsd:element ref="OrderWeight"/>
				<xsd:element ref="OrderEntryDate" minOccurs="0"/>
				<xsd:element ref="OrderType" minOccurs="0"/>
				<xsd:element ref="FulFillmentFlag" minOccurs="0"/>
				<xsd:element ref="ShipComplete" minOccurs="0"/>
				<xsd:element ref="HoldReason" minOccurs="0"/>
				<xsd:element ref="TermsCode" minOccurs="0"/>
				<xsd:element ref="ResellerNBR" minOccurs="0"/>
				<xsd:element ref="NumberOfCartons" minOccurs="0"/>
				<xsd:element ref="CreditMemoReasonCode" minOccurs="0"/>
				<xsd:element ref="ConfigFlag" minOccurs="0"/>
				<xsd:element ref="SplitBillToSwitch" minOccurs="0"/>
				<xsd:element ref="SplitFromOrderNumber" minOccurs="0"/>
				<xsd:element ref="RMACode" minOccurs="0"/>
				<xsd:element ref="CreditCardSW" minOccurs="0"/>
				<xsd:element ref="GovEndUserType" minOccurs="0"/>
				<xsd:element ref="EntryMethod" minOccurs="0"/>
				<xsd:element ref="TermID" minOccurs="0"/>
				<xsd:element ref="BackorderStatus" minOccurs="0"/>
				<xsd:element ref="ShippableSW" minOccurs="0"/>
				<xsd:element ref="ConfigTimeStamp" minOccurs="0"/>
				<xsd:element ref="SelSrcSlsHdr" minOccurs="0"/>
				<xsd:element ref="SelSrcAcctNoHdr" minOccurs="0"/>
				<xsd:element ref="OECarrier" minOccurs="0"/>
				<xsd:element ref="FrtOutCode" minOccurs="0"/>
				<xsd:element ref="ProNbrSW" minOccurs="0"/>
				<xsd:element ref="ProNbr" minOccurs="0"/>
				<xsd:element ref="OrderTotals"/>
				<xsd:element ref="OrderSuffix" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="CustomOrderPersist" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OrderEntryDate" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="date">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrderDetailResponse">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Version"/>
				<xsd:element ref="TransactionHeader"/>
				<xsd:element ref="OrderInformation" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OECarrier" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="2" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NumberOfCartons" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="5" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NordicPromiseDate" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="date">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MiscCharge" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="17" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LineTerms" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="3" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LineSalesTotal" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="17" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InvoiceDate" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="date">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IngramLineNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="3" d:minLength="3" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HoldReason" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="2" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GrandTotal" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="17" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GovEndUserType" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="1" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FulFillmentFlag" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="1" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FrtOutCode" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="1" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FreightTotal" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="17" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FreeItemSwitch" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="1" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ExtendedLineSales" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="17" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ErrorStatus">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="ErrorNumber" type="xsd:string" use="required">
						<xsd:annotation>
							<xsd:appinfo d:type="string">
								<b:FieldInfo/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EntryMethod" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="1" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EndUserPO" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="20" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocumentID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="38" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DiscountAmount" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="17" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CustomerPO" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="18" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CustomerLineNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="3" d:minLength="3" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CustomerItemNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="12" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CurrencyRate" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="17" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CurrencyCode" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="3" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CreditMemoReasonCode" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="2" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CreditCardSW" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="1" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConfigWipCnt" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="6" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConfigTimeStamp" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="10" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConfigSthCnt" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="6" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConfigStgCnt" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="6" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConfigStatus" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="3" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConfigQahCnt" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="6" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConfigQaaCnt" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="6" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConfigPcrCnt" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="6" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConfigPchCnt" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="6" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConfigOshCnt" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="6" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConfigOnHoldSw" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="3" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConfigLabCode" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="6" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConfigInformation">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ConfigIndicator" minOccurs="0"/>
				<xsd:element ref="ConfigStatus" minOccurs="0"/>
				<xsd:element ref="ConfigAssemblyCode" minOccurs="0"/>
				<xsd:element ref="ConfigLabCode" minOccurs="0"/>
				<xsd:element ref="ConfigOnHoldSw" minOccurs="0"/>
				<xsd:element ref="ConfigPcrCnt" minOccurs="0"/>
				<xsd:element ref="ConfigPchCnt" minOccurs="0"/>
				<xsd:element ref="ConfigStgCnt" minOccurs="0"/>
				<xsd:element ref="ConfigSthCnt" minOccurs="0"/>
				<xsd:element ref="ConfigWipCnt" minOccurs="0"/>
				<xsd:element ref="ConfigQaaCnt" minOccurs="0"/>
				<xsd:element ref="ConfigQahCnt" minOccurs="0"/>
				<xsd:element ref="ConfigBinCnt" minOccurs="0"/>
				<xsd:element ref="ConfigOshCnt" minOccurs="0"/>
				<xsd:element ref="ConfigHoldReasonText" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ConfigIndicator" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="3" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConfigHoldReasonText" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="70" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConfigFlag" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="1" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConfigBinCnt" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="6" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConfigAssemblyCode" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="3" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CustomLinePersist">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="NameValue" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NameValue">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Name"/>
				<xsd:element ref="Value"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Name" type="xsd:string"/>
	<xsd:element name="Value" type="xsd:string"/>
	<xsd:element name="CustomOrderPersist">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="NameValue" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ComponentQty" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="5" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CompanyCurrency" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="3" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CommentLine">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Comment" minOccurs="0"/>
				<xsd:element ref="MiscCharge" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Comment" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="216" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Carrier">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="Code" type="xsd:string" use="required">
						<xsd:annotation>
							<xsd:appinfo d:minLength="2" d:maxLength="4" d:type="string">
								<b:FieldInfo/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CODAmount" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="17" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BranchOrderNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="7" d:minLength="7" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BillToSuffix" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="3" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BillToProvince" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="2" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BillToPostalCode" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="9" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BillToInformation">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="BillToAddress1"/>
				<xsd:element ref="BillToAddress2" minOccurs="0"/>
				<xsd:element ref="BillToAddress3" minOccurs="0"/>
				<xsd:element ref="BillToCity"/>
				<xsd:element ref="BillToProvince"/>
				<xsd:element ref="BillToPostalCode"/>
				<xsd:element ref="BillToCountryCode" minOccurs="0"/>
				<xsd:element ref="BillToSuffix" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BillToCountryCode" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="2" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BillToCity" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="21" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BillToAddress3" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="35" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BillToAddress2" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="35" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BillToAddress1" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="35" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BackorderStatus" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="1" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BackOrderQuantity" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="int">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BackOrderETADate" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="date">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ManufacturerPartNumber" type="xsd:string"/>
</xsd:schema>