archive/www-tools-commands-to-be-implemented/ingrammicro/docs/OrderEntryRequestV2_0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:b="urn:schemas-microsoft-com:BizTalkServer"
	 xmlns:d="urn:schemas-microsoft-com:datatypes"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:appinfo b:BizTalkServerEditorTool_Version="1.0" b:root_reference="OrderRequest" b:version="1.0" b:standard="XML">
			<b:SelectionFields/>
		</xsd:appinfo>
	</xsd:annotation>

	<!-- Generated by using BizTalk Editor on Fri, Mar 04 2005 02:49:13 PM -->
	<!-- Microsoft Corporation (c) 2000 (http://www.microsoft.com) -->
	<xsd:element name="Version" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransactionID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="18" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransactionHeader">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SenderID"/>
				<xsd:element ref="ReceiverID"/>
				<xsd:element ref="CountryCode"/>
				<xsd:element ref="LoginID"/>
				<xsd:element ref="Password"/>
				<xsd:element ref="TransactionID" minOccurs="0"/>
				<xsd:element ref="SSBranch" minOccurs="0"/>
				<xsd:element ref="SSAccount" minOccurs="0"/>
				<xsd:element ref="SSSuffix" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ThirdPartyFreightAccount" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="12" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Suffix">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ShipToSuffix"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SplitShipmentFlag" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="char">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SplitLine" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="char">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SpecialBidNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="35" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SpecialBid">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SpecialBidNumber" minOccurs="0"/>
				<xsd:element ref="RequiredPrice"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ShowDetail" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="boolean">
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipmentOptions">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="BackOrderFlag"/>
				<xsd:element ref="SplitShipmentFlag"/>
				<xsd:element ref="SplitLine" minOccurs="0"/>
				<xsd:element ref="ShipFromBranches"/>
				<xsd:element ref="DeliveryDate" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ShipToSuffix" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="3" d:minLength="3" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipToProvince" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="2" d:minLength="2" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipToPostalCode" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="9" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipToCountryCode" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="2" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipToCity" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="21" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipToAttention" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="35" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipToAddress3" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="35" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipToAddress2" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="35" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipToAddress1" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="35" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ShipTo">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="Address"/>
				<xsd:element ref="Suffix"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ShipFromBranches" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="20" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SenderID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="18" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SKU" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="12" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReservedInventory">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ReserveCode"/>
				<xsd:element ref="ReserveSequence"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ReserveSequence" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="2" d:minLength="2" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CustomLinePersist">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="NameValue" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NameValue">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Name"/>
				<xsd:element ref="Value"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Name" type="xsd:string"/>
	<xsd:element name="Value" type="xsd:string"/>
	<xsd:element name="ReserveCode" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="char">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RequiredPrice" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="17" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReceiverID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="18" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Quantity" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="ui2">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ProductLine">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SKU" minOccurs="0"/>
				<xsd:element ref="Quantity"/>
				<xsd:element ref="SpecialBid" minOccurs="0"/>
				<xsd:element ref="CustomerLineNumber" minOccurs="0"/>
				<xsd:element ref="ReservedInventory" minOccurs="0"/>
				<xsd:element ref="CustomLinePersist" minOccurs="0"/>
				<xsd:element ref="CustomerPartNumber" minOccurs="0"/>
				<xsd:element ref="UPC" minOccurs="0"/>
				<xsd:element ref="ManufacturerPartNumber" minOccurs="0"/>
				<xsd:element ref="ShipFromBranchAtLine" minOccurs="0"/>
				<xsd:element ref="RequestedPrice" minOccurs="0"/>
				<xsd:element ref="EndUserPrice" minOccurs="0"/>
				<xsd:element ref="ResellerPriceOverride" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ProcessingOptions">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CarrierCode" minOccurs="0"/>
				<xsd:element ref="AutoRelease" minOccurs="0"/>
				<xsd:element ref="ThirdPartyFreightAccount" minOccurs="0"/>
				<xsd:element ref="KillOrderAfterLineError" minOccurs="0"/>
				<xsd:element ref="ShipmentOptions"/>
				<xsd:element ref="CreditCardProcessing" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Password" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="10" d:minLength="6" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrderRequest">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Version"/>
				<xsd:element ref="TransactionHeader"/>
				<xsd:element ref="OrderHeaderInformation"/>
				<xsd:element ref="OrderLineInformation"/>
				<xsd:element ref="ShowDetail" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OrderLineInformation">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="ProductLine" minOccurs="0"/>
				<xsd:element ref="CommentLine" minOccurs="0"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OrderHeaderInformation">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="BillToSuffix" minOccurs="0"/>
				<xsd:element ref="AddressingInformation"/>
				<xsd:element ref="ProcessingOptions"/>
				<xsd:element ref="DynamicMessage" minOccurs="0"/>
				<xsd:element ref="Government" minOccurs="0"/>
				<xsd:element ref="Attributes" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="CustomOrderPersist" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="MessageLines" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="175" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LoginID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="10" d:minLength="6" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Government">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="GovProgramType" minOccurs="0"/>
				<xsd:element ref="GovEndUserType"/>
				<xsd:element ref="GovSolicitationNBR"/>
				<xsd:element ref="GovEndUserData"/>
				<xsd:element ref="GovEndUserZip"/>
				<xsd:element ref="GovPublicPrivateSW" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GovSolicitationNBR" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="14" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GovPublicPrivateSW" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="1" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GovProgramType" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="2" d:minLength="2" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GovEndUserZip" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="9" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GovEndUserType" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="1" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GovEndUserData" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="25" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EndUserPO" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="18" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DynamicMessage">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="MessageLines"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
         <xsd:element name="CustomOrderPersist">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="NameValue" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CustomerPartNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="12" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CustomerPO" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="18" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CustomerLineNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="3" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CountryCode" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="2" d:minLength="2" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CommentText" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="35" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CommentLine">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CommentText"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CarrierCode" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="2" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BillToSuffix" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="3" d:minLength="3" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BackOrderFlag" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="char">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AutoRelease" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="char">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AddressingInformation">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CustomerPO"/>
				<xsd:element ref="ShipToAttention"/>
				<xsd:element ref="OrderContactName" minOccurs="0"/>
				<xsd:element ref="EndUserPO" minOccurs="0"/>
				<xsd:element ref="CustomerSalesOrder" minOccurs="0"/>
				<xsd:element ref="SpecialBidNumber" minOccurs="0"/>
				<xsd:element ref="ShipTo" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Address">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ShipToAddress1"/>
				<xsd:element ref="ShipToAddress2" minOccurs="0"/>
				<xsd:element ref="ShipToAddress3" minOccurs="0"/>
				<xsd:element ref="ShipToCity"/>
				<xsd:element ref="ShipToProvince" minOccurs="0"/>
				<xsd:element ref="ShipToPostalCode"/>
				<xsd:element ref="ShipToCountryCode" minOccurs="0"/>
				<xsd:element ref="ShipToEmailAddress" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="KillOrderAfterLineError" type="xsd:string"/>
	<xsd:element name="ManufacturerPartNumber" type="xsd:string"/>
	<xsd:element name="UPC" type="xsd:string"/>
	<xsd:element name="DeliveryDate" type="xsd:string"/>
	<xsd:element name="ShipFromBranchAtLine" type="xsd:string"/>
	<xsd:element name="CreditCardProcessing">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="paymentCode"/>
				<xsd:element ref="cardType" minOccurs="0"/>
				<xsd:element ref="creditCardNumber"/>
				<xsd:element ref="expiryDate"/>
				<xsd:element ref="cvvNumber"/>
				<xsd:element ref="cardHolderLastName"/>
				<xsd:element ref="cardHolderNameInitial"/>
				<xsd:element ref="cardHolderAddress"/>
				<xsd:element ref="authCoCode" minOccurs="0"/>
				<xsd:element ref="authCode" minOccurs="0"/>
				<xsd:element ref="authAmount" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="cardType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:element name="cardType">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="creditCardNumber">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="20"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="expiryDate" type="xsd:date"/>
	<xsd:element name="cvvNumber">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="4"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="cardHolderLastName">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="15"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="cardHolderAddress">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="address" minOccurs="0"/>
				<xsd:element ref="city" minOccurs="0"/>
				<xsd:element ref="state" minOccurs="0"/>
				<xsd:element ref="zipcode"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="authCoCode">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="authCode">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="19"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="authAmount">
		<xsd:simpleType>
			<xsd:restriction base="xsd:decimal">
				<xsd:totalDigits value="18"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="address">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="20"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="city">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="13"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="state" type="xsd:string"/>
	<xsd:element name="zipcode">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="9"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Attributes">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="nameValue" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="nameValue">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="name"/>
				<xsd:element ref="value"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="name" type="xsd:string"/>
	<xsd:element name="value" type="xsd:string"/>
	<xsd:element name="paymentCode">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="cardHolderNameInitial">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="RequestedPrice" type="xsd:string"/>
	<xsd:element name="ShipToEmailAddress" type="xsd:string"/>
	<xsd:element name="OrderContactName" type="xsd:string"/>
	<xsd:element name="CustomerSalesOrder" type="xsd:string"/>
	<xsd:element name="SSBranch" type="xsd:string"/>
	<xsd:element name="SSAccount" type="xsd:string"/>
	<xsd:element name="EndUserPrice" type="xsd:string"/>
	<xsd:element name="ResellerPriceOverride" type="xsd:string"/>
	<xsd:element name="SSSuffix" type="xsd:string"/>
</xsd:schema>