archive/www-tools-commands-to-be-implemented/ingrammicro/docs/PNARequestV2_0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:b="urn:schemas-microsoft-com:BizTalkServer"
	 xmlns:d="urn:schemas-microsoft-com:datatypes"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:appinfo b:BizTalkServerEditorTool_Version="1.5" b:root_reference="PNARequest" b:standard="XML">
			<b:SelectionFields/>
		</xsd:appinfo>
	</xsd:annotation>

	<!-- Generated by using BizTalk Editor on Fri, Mar 19 2004 02:32:39 PM -->
	<!-- Copyright (c) Microsoft Corporation. All rights reserved. -->
	<xsd:element name="Version" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransactionID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="18" d:minLength="0" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransactionHeader">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SenderID"/>
				<xsd:element ref="ReceiverID"/>
				<xsd:element ref="CountryCode"/>
				<xsd:element ref="LoginID"/>
				<xsd:element ref="Password"/>
				<xsd:element ref="TransactionID" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ShowDetail" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="boolean">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SenderID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="18" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReceiverID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="18" d:minLength="1" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Password" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="10" d:minLength="6" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PNARequest">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Version"/>
				<xsd:element ref="TransactionHeader"/>
				<xsd:element ref="PNAInformation" maxOccurs="unbounded"/>
				<xsd:element ref="ShowDetail" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PNAInformation">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="SKU" type="xsd:string">
				<xsd:annotation>
					<xsd:appinfo d:type="string" d:maxLength="12" d:minLength="1">
						<b:FieldInfo/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="ReservedInventory" type="xsd:string" default="N">
				<xsd:annotation>
					<xsd:appinfo d:type="char">
						<b:FieldInfo/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="Quantity" type="xsd:string" default="1">
				<xsd:annotation>
					<xsd:appinfo d:type="ui2">
						<b:FieldInfo/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="ManufacturerPartNumber" type="xsd:string">
				<xsd:annotation>
					<xsd:appinfo d:type="string" d:maxLength="20" d:minLength="0">
						<b:FieldInfo/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="GovtProgramType" type="xsd:string">
				<xsd:annotation>
					<xsd:appinfo d:type="string" d:maxLength="2" d:minLength="0">
						<b:FieldInfo/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="GovtEndUserType" type="xsd:string">
				<xsd:annotation>
					<xsd:appinfo d:type="string" d:maxLength="2" d:minLength="0">
						<b:FieldInfo/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="CustomerPartNumber" type="xsd:string"/>
			<xsd:attribute name="UPC" type="xsd:string"/>
			<xsd:attribute name="EndUserId" type="xsd:string"/>
			<xsd:attribute name="SpecialBidNumber" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LoginID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="10" d:minLength="6" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CountryCode" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:maxLength="2" d:minLength="2" d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EndUserId" type="xsd:string"/>
	<xsd:element name="SpecialBidNumber" type="xsd:string"/>
</xsd:schema>