archive/www-tools-commands-to-be-implemented/ingrammicro/docs/PNAResponseV2_0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:b="urn:schemas-microsoft-com:BizTalkServer"
	 xmlns:d="urn:schemas-microsoft-com:datatypes"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:appinfo b:standard="XML" b:root_reference="PNAResponse" b:BizTalkServerEditorTool_Version="1.5">
			<b:SelectionFields/>
		</xsd:appinfo>
	</xsd:annotation>

	<!-- Generated by using BizTalk Editor on Wed, Apr 20 2005 08:58:10 AM -->
	<!-- Copyright (c) Microsoft Corporation. All rights reserved. -->
	<xsd:element name="Version" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VendorNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Impulse A&amp;N</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="0" d:maxLength="4">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransactionID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="0" d:maxLength="18">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransactionHeader">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SenderID"/>
				<xsd:element ref="ReceiverID"/>
				<xsd:element ref="ErrorStatus" minOccurs="0"/>
				<xsd:element ref="DocumentID"/>
				<xsd:element ref="TransactionID" minOccurs="0"/>
				<xsd:element ref="TimeStamp"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TimeStamp" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="dateTime">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SpecialPriceFlag" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Impulse AlphaNumeric</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="0" d:maxLength="1">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Sequence">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ReservationCode"/>
				<xsd:element ref="ReservedQTY"/>
				<xsd:element ref="AvailableQTY"/>
				<xsd:element ref="EffectiveDate"/>
				<xsd:element ref="ExpiryDate"/>
			</xsd:sequence>
			<xsd:attribute name="ID" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:appinfo d:maxLength="2" d:type="number">
						<b:FieldInfo/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="Comment" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:appinfo d:maxLength="255" d:type="string">
						<b:FieldInfo/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SenderID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="18">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SKUStatus" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="0" d:maxLength="100">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReservedQTY" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="number" d:maxLength="7">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReserveInventoryFlag" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Impulse A&amp;N</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="0" d:maxLength="1">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Reserve">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Sequence" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ReservationCode">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="ID" type="xsd:string" use="required">
						<xsd:annotation>
							<xsd:appinfo d:type="char">
								<b:FieldInfo/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ReceiverID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="1" d:maxLength="18">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PriceAndAvailability">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="SKU" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Price" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="SpecialPriceFlag" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="GovEdSpecialPrice" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="ManufacturerPartNumber" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="ManufacturerPartNumberOccurs" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="VendorNumber" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Description" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="ReserveInventoryFlag" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="AvailableRebQty" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="SKUStatus" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Branch" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="UPC" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="CustomerPartNumber" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="ServiceFee" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="SKU" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Impulse DataType: AlphNum 12</xsd:documentation>
					<xsd:appinfo d:maxLength="12" d:type="string">
						<b:FieldInfo/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="ReservedInventory" type="xsd:string"/>
			<xsd:attribute name="Quantity" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:appinfo d:type="ui2">
						<b:FieldInfo/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="ManufacturerPartNumber" type="xsd:string">
				<xsd:annotation>
					<xsd:appinfo d:minLength="0" d:maxLength="20" d:type="string">
						<b:FieldInfo/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="GovtProgramType" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>PA/ED</xsd:documentation>
					<xsd:appinfo>
						<b:FieldInfo/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="GovtEndUserType" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>F/S/E K/H</xsd:documentation>
					<xsd:appinfo>
						<b:FieldInfo/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="CustomerPartNumber" type="xsd:string"/>
			<xsd:attribute name="UPC" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Price" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Impulse DataType: Num 17</xsd:documentation>
			<xsd:appinfo d:type="string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PNAResponse">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="Version"/>
				<xsd:element ref="TransactionHeader" minOccurs="0"/>
				<xsd:element ref="PriceAndAvailability" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OnOrder" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Impulse DataType: Num 4</xsd:documentation>
			<xsd:appinfo d:type="number">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ManufacturerPartNumberOccurs" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Impulse A&amp;N</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="0" d:maxLength="1">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ManufacturerPartNumber" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Impulse AlphaNum</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="0" d:maxLength="20">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GovEdSpecialPrice" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="0" d:maxLength="1">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ExpiryDate" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="date">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ErrorStatus">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="ErrorNumber" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo d:type="string">
								<b:FieldInfo/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EffectiveDate" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="date">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ETADate" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Impulse DataType: Num 6 - set to as in 8 01/01/20</xsd:documentation>
			<xsd:appinfo d:type="date">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocumentID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:minLength="0" d:maxLength="38">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Branch">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Availability"/>
				<xsd:element ref="OnOrder"/>
				<xsd:element ref="ETADate"/>
				<xsd:element ref="Reserve" minOccurs="0"/>
				<xsd:element ref="OnHoldQuantity" minOccurs="0"/>
				<xsd:element ref="OnHandQuantity" minOccurs="0"/>
				<xsd:element ref="InTransitQuantity" minOccurs="0"/>
				<xsd:element ref="OnCommitQuantity" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="Name" type="xsd:string">
				<xsd:annotation>
					<xsd:appinfo d:minLength="0" d:type="string">
						<b:FieldInfo/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="ID" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>Impulse DataType: AlphNum 2</xsd:documentation>
					<xsd:appinfo d:maxLength="2" d:type="string">
						<b:FieldInfo/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AvailableRebQty" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Impulse A&amp;N</xsd:documentation>
			<xsd:appinfo d:type="string" d:minLength="0" d:maxLength="3">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AvailableQTY" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="number" d:maxLength="7">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Availability" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Impulse DataType: Num 8</xsd:documentation>
			<xsd:appinfo d:type="number">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UPC" type="xsd:string"/>
	<xsd:element name="CustomerPartNumber" type="xsd:string"/>
	<xsd:element name="Fees">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Code" minOccurs="0"/>
				<xsd:element ref="Description" minOccurs="0"/>
				<xsd:element ref="Amount" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ServiceFee">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Fees" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Description" type="xsd:string"/>
	<xsd:element name="SKU" type="xsd:string"/>
	<xsd:element name="Code" type="xsd:string"/>
	<xsd:element name="Amount" type="xsd:string"/>
	<xsd:element name="OnHoldQuantity" type="xsd:string"/>
	<xsd:element name="OnHandQuantity" type="xsd:string"/>
	<xsd:element name="InTransitQuantity" type="xsd:string"/>
	<xsd:element name="OnCommitQuantity" type="xsd:string"/>
</xsd:schema>