archive/www-tools-commands-to-be-implemented/ingrammicro/docs/RMASubmittalRequestV1_0.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.2.7. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:b = "urn:schemas-microsoft-com:BizTalkServer" xmlns:d = "urn:schemas-microsoft-com:datatypes" xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:annotation>
		<xsd:appinfo
			 b:BizTalkServerEditorTool_Version = "1.0"
			 b:root_reference = "RMASubmittalRequest"
			 b:version = "0.1"
			 b:standard = "XML">
			<b:SelectionFields/>
		</xsd:appinfo>
	</xsd:annotation>
	<!-- Generated by using BizTalk Editor on Tue, Oct 02 2001 10:19:23 AM -->
	
	
	<!-- Microsoft Corporation (c) 2000 (http://www.microsoft.com) -->
	
	<xsd:element name = "Version1.0">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType/>
	</xsd:element>
	<xsd:element name = "TransactionID" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "18"
				 d:minLength = "0"
				 d:type = "string">
				<b:FieldInfo/>
			</xsd:appinfo>
			<xsd:documentation>Transaction ID</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "TransactionHeader">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
			<xsd:documentation>Transaction Header</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "CountryCode"/>
				<xsd:element ref = "LoginID"/>
				<xsd:element ref = "Password"/>
				<xsd:element ref = "TransactionID" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "SKU" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "12"
				 d:minLength = "1"
				 d:type = "string">
				<b:FieldInfo/>
			</xsd:appinfo>
			<xsd:documentation>SKU Number</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "ReasonForReturn" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "1024"
				 d:minLength = "1"
				 d:type = "string">
				<b:FieldInfo/>
			</xsd:appinfo>
			<xsd:documentation>Reason For Return</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "RMASubmittalRequest">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
			<xsd:documentation>Inbound request for RMA Submittal</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Version1.0"/>
				<xsd:element ref = "TransactionHeader"/>
				<xsd:element ref = "ContactInformation"/>
				<xsd:element ref = "RMASubmit"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "RMASubmit">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
			<xsd:documentation>RMA Submit</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "BranchOrderNumber"/>
				<xsd:element ref = "OrderSuffix"/>
				<xsd:element ref = "CustomerPO"/>
				<xsd:element ref = "RMALine" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "RMALine">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
			<xsd:documentation>RMALine</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "SKU"/>
				<xsd:element ref = "Quantity"/>
				<xsd:element ref = "ReasonForReturn"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "Quantity" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "5"
				 d:minLength = "1"
				 d:type = "number">
				<b:FieldInfo/>
			</xsd:appinfo>
			<xsd:documentation>Quantity</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "PhoneNumber" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "15"
				 d:minLength = "10"
				 d:type = "number">
				<b:FieldInfo/>
			</xsd:appinfo>
			<xsd:documentation>Phone Number</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "Password" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "10"
				 d:type = "string">
				<b:FieldInfo/>
			</xsd:appinfo>
			<xsd:documentation>Password</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "OrderSuffix" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "2"
				 d:minLength = "2"
				 d:type = "string">
				<b:FieldInfo/>
			</xsd:appinfo>
			<xsd:documentation>Order Suffix</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "LoginID" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "10"
				 d:type = "string">
				<b:FieldInfo/>
			</xsd:appinfo>
			<xsd:documentation>Login ID</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "LastName" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "20"
				 d:minLength = "1"
				 d:type = "string">
				<b:FieldInfo/>
			</xsd:appinfo>
			<xsd:documentation>Last Name</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "FirstName" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "20"
				 d:minLength = "1"
				 d:type = "string">
				<b:FieldInfo/>
			</xsd:appinfo>
			<xsd:documentation>First Name</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "Extension" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "10"
				 d:minLength = "1"
				 d:type = "string">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "EmailAddress" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "30"
				 d:minLength = "1"
				 d:type = "string">
				<b:FieldInfo/>
			</xsd:appinfo>
			<xsd:documentation>Email Address</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "CustomerPO" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "30"
				 d:type = "string">
				<b:FieldInfo/>
			</xsd:appinfo>
			<xsd:documentation>Customer PO</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "CountryCode" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "2"
				 d:minLength = "2"
				 d:type = "string">
				<b:FieldInfo/>
			</xsd:appinfo>
			<xsd:documentation>Country Code</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name = "ContactInformation">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
			<xsd:documentation>Contact Information</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "EmailAddress"/>
				<xsd:element ref = "PhoneNumber"/>
				<xsd:element ref = "Extension" minOccurs = "0"/>
				<xsd:element ref = "FirstName"/>
				<xsd:element ref = "LastName"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "BranchOrderNumber" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo
				 d:maxLength = "7"
				 d:minLength = "7"
				 d:type = "string">
				<b:FieldInfo/>
			</xsd:appinfo>
			<xsd:documentation>Branch  Order Number</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>