archive/www-tools-commands-to-be-implemented/ingrammicro/docs/RMASubmittalResponseV1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:b="urn:schemas-microsoft-com:BizTalkServer"
	 xmlns:d="urn:schemas-microsoft-com:datatypes"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:appinfo b:standard="XML" b:version="0.1" b:root_reference="RMASubmittalResponse" b:BizTalkServerEditorTool_Version="1.0">
			<b:SelectionFields/>
		</xsd:appinfo>
	</xsd:annotation>

	<!-- Generated by using BizTalk Editor on Tue, Oct 02 2001 10:20:28 AM -->
	<!-- Microsoft Corporation (c) 2000 (http://www.microsoft.com) -->
	<xsd:element name="Version1.0" type = "xsd:string">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransactionID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:maxLength="18">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransactionHeader">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ErrorStatus"/>
				<xsd:element ref="DocumentID"/>
				<xsd:element ref="TransactionID" minOccurs="0"/>
				<xsd:element ref="TimeStamp"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TimeStamp" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="dateTime">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RMASubmittalResponse">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Version1.0"/>
				<xsd:element ref="TransactionHeader"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ErrorStatus">
		<xsd:annotation>
			<xsd:appinfo>
				<b:RecordInfo/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="ErrorNumber" type="xsd:string" use="required">
						<xsd:annotation>
							<xsd:appinfo d:type="string">
								<b:FieldInfo/>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DocumentID" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo d:type="string" d:maxLength="40">
				<b:FieldInfo/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>